<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.uitestmap">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Required for background geofence triggers -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- For posting notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uitestmap"
        tools:targetApi="31">

        <!-- Add Google Maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC49GOPzP7rJDvoPOgc5wEsRDyEL-pZaxM" />

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Uitestmap.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Map activity -->
        <activity
            android:name=".MapActivity"
            android:exported="true"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|screenLayout|smallestScreenSize"
        android:label="IIT Locations"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true" />

        <!-- Broadcast receiver for geofence -->
        <receiver
            android:name=".GeofenceBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.location.Geofence" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
